* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.tabs li {
  padding: 10px;
  background-color: #f6f4f4;
  border-right: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}
.tabs li.active,
.tabs li:hover {
  background-color: #ddd;
}
.content {
  background-color: #ddd;
}
.content div {
  padding: 20px;
}

.content div:not(:first-child) {
  display: none;
}
